@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

:root {
	--clr-background: hsl(221deg 45% 15%);
	--clr-buttons-bg: hsl(221deg 30% 20%);
	--clr-white: hsl(0deg 0% 100%);
	--clr-primary: hsl(230, 70%, 50%);
	--border-radius: 22px;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

body,
button {
	font-family: 'Nunito';
}

#root {
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: auto;
	flex-flow: wrap;
	background: var(--clr-background);
}

.calculator {
	--calculator-width: 25em;
	width: min(100%, var(--calculator-width));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	border-radius: var(--border-radius);
	background-color: hsl(0 0% 100% / 10%);
	box-shadow: 0 5px hsla(0deg, 0%, 0%, .1), 0 20px 30px hsl(0 0% 0% / 25%), 0 20px 100px hsl(0 0% 0% / 10%);

	&__results {
		color: var(--clr-white);
		padding: 0.4em;
		padding-bottom: 0.2em;
		font-size: 2.5em;
		background: hsl(230deg 70% 48% / 8%);
		margin: 0.6em;
		border-radius: 10px;
		box-shadow: 0 5px 0px hsl(0deg 0% 0% / 15%) inset,
			0 10px 30px hsl(0deg 0% 0% / 20%) inset,
			0 -1px hsla(0, 0%, 100%, 0.05) inset
	}

	&__history, 
	&__result{
		display: flex;
		word-break: break-word;
		align-items: center;
		justify-content: flex-end;
	}

	&__history {
		font-size: 0.45em;
		color: #808bc6;
	}

	&__result {
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__tempResult {
		opacity: 0.5;
		font-weight: 100;
		font-size: .6em;

		&:after {
			content: '\0a0=\0a0';
		}
	}

	&__buttons {
		width: min(100%, var(--calculator-width));
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background-color: var(--clr-buttons-bg);
		padding: 1.5em;
		grid-gap: 1em;
		border-radius: var(--border-radius);

		button {
			--elevate: 4px;
			--elevate-half: calc( var(--elevate) / 2 );
			padding: 0.8em 0.8em;
			font-size: 1.5em;
			background-color: hsla(0deg, 0%, 100%, 0.03);
			color: var(--clr-white);
			border: 0;
			border-radius: var(--border-radius);
			cursor: pointer;
			box-shadow: 0 var(--elevate) hsla(0 0% 0% / 8%), 
				0 var(--elevate-half) hsl(0deg 0% 100% / 5%) inset, 
				0 calc( var(--elevate) * -5 ) 10px hsl(0deg 0% 0% / 5%) inset;
			text-shadow: 0 2px hsl(0deg 0% 0% / 10%);
			position: relative;
			user-select: none;

			&:active {
				top: var(--elevate-half);
				// box-shadow: 0 0 transparent;
				box-shadow: 0 0 transparent, 
					0 var(--elevate) hsl(0deg 0% 0% / 20%) inset, 
					0 calc( var(--elevate) * -5 ) 10px hsl(0deg 0% 0% / 5%) inset;
			}

			&:last-child {
				background-color: var(--clr-primary);
			}
		}
	}
	
}
