:root {
    --background-color: hsl(250deg 75% 5%);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

body, button {
    font-family: monospace;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    flex-flow: wrap;
    background: var(--background-color)
}

.calculator {
    max-width: 15em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.result {
    color: hsl(0deg 0% 100%);
    background: hsl(0deg 0% 100% / 10%);
    text-align: right;
    padding: 0.6em;
    font-size: 1.6em;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons button {
    padding: 0.6em;
    width: 25%;
    font-size: 1.6em;
    border: 1px solid var(--background-color);
}